<table>
<% @comments.each do |comment| %>
  <tr>
    <td><b>Author:</b>&nbsp;<%=h comment.author %></td>
  </tr>
<% if not comment.site.empty? %> 
  <tr>
    <td><b>Site:</b>&nbsp;<%=h comment.site %></td>
  </tr>
<% end %>
<% if not comment.email.empty?%>
  <tr>
    <td><b>Email:</b>&nbsp;<%=h comment.email if not !comment.nil? %></td>
  </tr>
<% end %>
  <tr>
    <td><b>Comment:</b>&nbsp;<%=h comment.comment %></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
<% end %>
</table>
